.contacts{
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  .container{
    margin: 60px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    @media (max-width: 425px) {
      gap: 80px;
    }
    @media (max-width: 375px) {
      gap: 30px;
    }
    .phone, .whatsapp{
      display: flex;
      gap: 30px;
      @media (max-width: 425px) {
        flex-direction: column;
        align-items: center;
      }
      .title{
        display: flex;
        gap: 10px;
        svg{
          color: #555555;
        }
        .whats{
          color: green;
        }
        p{
          font-size: 14px;
          font-weight: bold;
        }
      }
      .numbers{
        p{
          font-size: 16px;
          color: #555;
          margin-bottom: 10px;
        }
      }
    }

  }
}