.review{
  width: 70%;
  @media (max-width: 768px) {
    width: 90%;
  }
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  gap: 15px;
  align-items: start;
  .profile_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 50px;
      height: 50px;
    }
  }
  .review_info{
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 425px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .name, .date{
      font-size: 13px;
    }
    .date{
      color: #555555;
    }
  }
  .review_text{
    margin-top: 20px;
    p{
      color: #555;
      line-height: 25px;
      font-weight: 400;
      
      @media (max-width: 425px) {
        position: relative;
        left: -60px;
      }
    }
  }
}