.brands{
  max-width: 1170px;
  margin: 100px auto;
  padding: 0 10px;
  @media (max-width: 1024px) {
    width: 900px;
  }
  @media (max-width: 768px) {
    width: 680px;
  }
  @media (max-width: 425px) {
    width: 400px;
  }
  @media (max-width: 375px) {
    width: 360px;
  }
  @media (max-width: 320px) {
    width: 300px;
  }
  .my_swiper{
    gap: 50px;
    img{
      width: 165px;
      height: 80px;
      object-fit: contain;
    }
  }
  :global(.swiper-button-next:after) {
    color: #002F5F;
    font-size: 20px;
    margin-left: 30px;
  }
  :global(.swiper-button-prev:after) {
    color: #002F5F;
    font-size: 20px;
    margin-right: 30px;
  }
}