*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

button{
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("./fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("./fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("./fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}